* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial,sans-serif;
  font-size: 14px;
  color: #202124;
}

body {
  max-height: 100vh;
  
}



.container{
  margin-top: -.5rem
}

.nav {
  margin: 1.2rem 1.4rem ;
}

.nav ul{
  
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  
}

.nav ul li  {
  list-style: none;
  
}

.nav ul li a {
  text-decoration: none;
  color: rgba(0,0,0,.87);
  font-size: 13px;
}

.nav ul li a:hover {
  text-decoration: underline;
}

.nav .apps .shadow ion-icon {
  color: #202124;
  opacity: 0.7;
  font-size: 20px;
  padding-left: 2px;
}


.nav .photo img{
  height: 32px;
  height: 32px;
  background-size: 32px 32px;
  border-radius: 50%;
  cursor: pointer;
}

.shadow {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
.shadow:hover {
  background-color: rgba(0, 0, 0, 0.06);
  
}

/* Search input */

.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 7.8rem;
  width: 100%;
}

.inputField:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.fa-search {
  font-size: 15px;
  color: #9aa0a6;
  text-align: center;
  position: absolute; 
 left: 0;
 right: 41rem;
  
}

.fa-keyboard {
  font-size: 15px;
  color: #9aa0a6;
 
  
}
.fa-microphone {
  font-size: 15px;
  color: #9aa0a6;
  
  
}


.inputField{
  display: flex;
  align-items: center;
  height: 44px;
  padding: 10px 20px;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  outline: none;
  max-width: 584px;
  width: 90%;
  margin: 2rem auto;
  text-indent: 3rem;
  font-size: 16px;
}

.inputField input {
  flex: 1;
  padding: 10px 20px;
  border: none;
  outline: none;
  
}

.buttons button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  margin: 5px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.buttons button:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.language {
  margin-top: 1.7rem;
  font-size: 13px;
}

.language a {
  text-decoration: none;
  color: #1a0dab ;
  padding: 0 3px;
}

.language a:hover {
  text-decoration: underline;
}

footer {
  background: #f2f2f2;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
footer .firstLine {
  border-bottom: 1px solid #dadce0;
  padding: 15px 30px;
  

}

.firstLine p {
  color: #70757a;
  font-size: 15px;
}

@media (max-width:768px) {
  .secondline{
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

}

@media (max-width:1024px) {
  .secondline{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

}

.secondline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:  15px 20px;
    text-align: center;
  }

  .secondline .about {
    display: flex;
    justify-content: flex-start;
    
    min-width: 30%;
    order: 1;
  }

  .secondline .about li {
    list-style: none;
  }

  .secondline .about li a {
    text-decoration: none;
    color: #70757a;
    padding: 15px;
  }


  .secondline .carbon {
    display: flex;
    align-items: center;
    order:2;
  }

  .secondline .carbon li {
    align-items: center;
    list-style: none;
    text-align: center;
    color: #70757a;
  }

  .secondline .carbon img {
    height: 14px;
    margin-right: 6px;
  }



  .secondline .policy {
    display: flex;
    justify-content: flex-end;
    min-width: 30%;
    order: 3;
  }

  .secondline .policy li {
    list-style: none;
  }

  .secondline .policy li a {
    padding: 15px;
    text-decoration: none;
    color: #70757a;
  }

